<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="/Users/erenerisgen/Documents/GHpersonal/static/portfolio/stylesheet.css">
        <script src="/Users/erenerisgen/Documents/GHpersonal/static/portfolio/portfolio.js"></script>
    </head>
    <body>
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          
          <div id="navbar-menu" class="navbar-menu">
            <div class="navbar-start">
              <a href="/Users/erenerisgen/Documents/GHpersonal/templates/portfolio/index.html" class="navbar-item">
                Home
              </a>
              
              <a href="/Users/erenerisgen/Documents/GHpersonal/templates/portfolio/projects.html"class="navbar-item">
                Projects
              </a>
              
              <a href="/Users/erenerisgen/Documents/GHpersonal/templates/portfolio/about.html" class="navbar-item">
                About
              </a>
              
            </div>
          </div>
          </nav>
        <div class="body">
            <div id="notification"></div>
            <div style="margin: 0; border-radius: 0;" class="notification is-danger">
                This page is still under construction, so they only link to their Github repositories at this time. Sorry for the inconvenience.
            </div>
        
            <a href="#">
                <div class="project-container">
                    <div class="project-picture-container">
                        <figure class="image">
                            <img class="is-rounded" src="/Users/erenerisgen/Documents/GHpersonal/static/work-in-progress.png" alt="Photo of text 'WIP'">
                        </figure>
                    </div>
                    <div class="project-disc">
                        <div class="block">
                            <h1 class="title">Shredr</h1>
                            <h2 class="subtitle">An easy and fun way to clean your photo gallery</h2>
                        </div>
                        <div class="block">
                            <div>
                                Technologies used: Swift
                            </div>
                            <div>
                                <i>Last Updated: <strong>Ongoing</strong></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        
            <a href="https://github.com/Ereneri/SpaceGame">
                <div class="project-container">
                    <div class="project-picture-container">
                        <figure class="image">
                            <img class="is-rounded" src="/Users/erenerisgen/Documents/GHpersonal/static/SpaceGame/gameThumb.png" alt="Photo of SpaceShip">
                        </figure>
                    </div>
                    <div class="project-disc">
                        <div class="block">
                            <h1 class="title">SpaceGame</h1>
                            <h2 class="subtitle">A 8-bit arcade style spaceship shooter built in Java</h2>
                        </div>
                        <div class="block">
                            <div>
                                Technologies used: Java
                            </div>
                            <div>
                                <i>Last Updated: <strong>June 7, 2022</strong></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        
            <a href="https://github.com/Ereneri/OurToDos">
                <div class="project-container">
                    <div class="project-picture-container">
                        <figure class="image">
                            <img class="is-rounded" src="/Users/erenerisgen/Documents/GHpersonal/static/OurTodos/otdThumb.png" alt="Photo of text 'OTD'">
                        </figure>
                    </div>
                    <div class="project-disc">
                        <div class="block">
                            <h1 class="title">OurToDos</h1>
                            <h2 class="subtitle">A collaborative To Do list web app</h2>
                        </div>
                        <div class="block">
                            <div>
                                Technologies used: Python, Django, Bootstrap, HTML, CSS, JavaScript
                            </div>
                            <div>
                                <i>Last Updated: <strong>July 11, 2022</strong></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        
        </div>
    </body>
    <footer class="footer has-background-grey-lighter">
      <div class="content has-text-centered">
        <p>
          <a href="/Users/erenerisgen/Documents/GHpersonal/templates/portfolio/index.html">home</a> | <a href="/Users/erenerisgen/Documents/GHpersonal/templates/portfolio/projects.html">projects</a> | <a href="/Users/erenerisgen/Documents/GHpersonal/templates/portfolio/about.html">about</a>
        </p>
      </div>
    </footer>
</html>
